<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>

<body>


<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron">



<h1>Message Details:</h1>

Content :<span th:text="${message.content}" ></span> <br /><br />


        <div th:if="${message.image} != null">
            <img th:src="${message.image}" />
            <!--In HTML 4.01, the <hr> tag represents a horizontal rule-->
            <hr />
        </div>

Post ED Date :<span th:text="${message.posteddate}" ></span> <br /><br />

Sent By :<span th:text="${message.sentby}" ></span> <br /><br />


<br /><a href="/">List of All Messages</a><br />
<br /><a href="/add">Add a new Message</a><br />



    </div>
</div>


<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>

</body>
</html>